*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #1e1c2a; 
    
}
.heading-container{
    margin-top: 20px;
    color: #ff702a;
}
.main-container{
    border: none;
    padding: 10px;
    border-top: 4px solid #ff702a;
    border-bottom: 1px solid #ff702a;
    border-left: 4px solid #ff702a;
    border-right: 1px solid #ff702a;
    margin-top: 20px;
    border-radius: 25px;
    

    
}


.heading{
    border: none;
    padding: 10px;
    border-top: 4px solid #ff702a;
    border-bottom: 1px solid #ff702a;
    border-left: 4px solid #ff702a;
    border-right: 1px solid #ff702a;
    width: 70%;
    color: #fff;
    margin-top: 20px;
}
.description{
    border: none;
    padding: 10px;
    border-top: 4px solid #ff702a;
    border-bottom: 1px solid #ff702a;
    border-left: 4px solid #ff702a;
    border-right: 1px solid #ff702a;
    width: 70%;
    margin-bottom: 20px;
    color: #fff;
}
.add-btn{
    color: #fff;
    background-color: #ff702a;
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    
}

.content-container{
    color: #fff;
    border-top: 4px solid #ff702a;
    border-bottom: 1px solid #ff702a;
    border-left: 4px solid #ff702a;
    border-right: 1px solid #ff702a;
    padding: 10px;
    border-radius: 25px;
    margin-top: 20px;
    


}
.btn-1{
    color: #fff;
    background-color: #ff702a;
    border: none;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 5px;

}
.btn-2{
    color: #fff;
    background-color: #ff702a;
    border: none;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 15px;
    

}
